<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="/public/styles.css">
    <title>Add Contact</title>
</head>

<body>
    <div class="container">
        <h2>Add Contact</h2>
        <form action="/addContact" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>

            <button type="submit">Add Contact</button>
        </form>
        <form action="/" method="get">
            <button type="submit">Cancel</button>
        </form>
    </div>
</body>

</html>