<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" src="/public/styles.css">
  <title>Register</title>
</head>

<body>
  <div class="container">
    <h2>Register</h2>
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" >

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword">

      <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a>.</p>
  </div>
</body>

</html>